.input  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.input input {
    display: flex;
    height: 52px;
    width: 100%;
    overflow-y: hidden;
    padding: 3px 10px;
    border: 1px solid #473d3d;
    border-radius: 10px;
}


app-button {
    position: absolute;
    right: 20px;
    border: 0px solid #473d3d;
    background: url("../../../assets/up-arrow.svg") no-repeat;
    background-size: 48px 30px;
    cursor: pointer;
}

app-loader{
    position: absolute;
    right: 65px;
}